.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome-container {
  background-color: rgba(0, 0, 0, 0.912);
  color: gray;
  width: 100%;
  text-align: center;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 40px;
}

.welcome-sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 350px;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.805);
}

.signup-button {
  background-color: black;
  width: 250px;
  color: white;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
}

.login {
  text-decoration: none;
  color: black;
}
