.transaction-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transaction-main-container select {
  background-color: rgba(0, 0, 0, 0.912);
  color: white;
  border: none;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-icon-sub-container img {
  width: 30px;
}

.category-icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  color: white;
}

.category-icon-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.category-heading {
  font-size: 30px;
  color: white;
}

.heading-container {
  font-size: 40px;
}

.payment-method-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.payment-method-container p {
  font-size: 30px;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.message-container p {
  font-size: 30px;
}

.recent-transaction-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  margin-top: 25px;
  background-color: rgba(0, 255, 255, 0.078);
}

.recent-transaction-container p {
  font-size: 20px;
  color: gray;
}

.recent-transaction-container button {
  width: 120px;
}

.recent-transaction-sub-container {
  /* background-color: aqua; */
  height: 100vh;
}

.transaction-data-container {
  background-color: white;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.539);
  cursor: pointer;
}
